%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", :rel => "stylesheet"}/
/ Compiled and minified JavaScript
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}

!!!
      
%body
.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  %header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
    .mdl-layout__header-row
      %span.mdl-layout-title Home
      .mdl-layout-spacer
  .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
    %header.demo-drawer-header
      %img.demo-avatar{:src => "images/user.jpg"}/
      .demo-avatar-dropdown
        %span= @current_user.first_name + " " + @current_user.last_name
        .mdl-layout-spacer
    %nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
      %a.mdl-navigation__link{:href => ""}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> home
        Home
      %a.mdl-navigation__link{:href => ""}
        %i.m-dl-color-text--blue-grey-400.material-icons{:role => "presentation"}> inbox
        Calender
      %a.mdl-navigation__link{:href => ""}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> delete
        Setup
      %a.mdl-navigation__link{:href => ""}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> report
        About
  %main.mdl-layout__content.mdl-color--grey-100
    .mdl-grid.demo-content
      - @out_subjects.each do |subject|
        .card-container
          .card
            .front
              .cover
                .mdl-grid
                  .mdl-cell
                    %h4= subject['name']
              %svg#left-graph.donut{:height => "50%", :viewbox => "0 0 42 42", :width => "40%"}
                %circle.donut-hole{:cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954"}
                %circle.donut-ring{:cx => "21", :cy => "21", :fill => "#fff", :r => "15.91549430918954", :stroke => "#d2d3d4", "stroke-width" => "3"}
                %circle.donut-segment{:cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954", :stroke => "#ce4b99", "stroke-dasharray" => "50 50", "stroke-dashoffset" => "25", "stroke-width" => "3"}
                %g.chart-text
                  %text.chart-number{:x => "50%", :y => "50%"}
                  %text.chart-label{:x => "50%", :y => "50%"}
                    #{subject['completion_rate']}
                  %text.chart-end{:x => "50%", :y => "50%"}
                    Completion-time
    
    
              %svg#right-graph.donut{:height => "50%", :viewbox => "0 0 42 42", :width => "40%"}
                %circle.donut-hole{:cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954"}
                %circle.donut-ring{:cx => "21", :cy => "21", :fill => "#fff", :r => "15.91549430918954", :stroke => "#d2d3d4", "stroke-width" => "3"}
                %circle.donut-segment{:cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954", :stroke => "#ce4b99", "stroke-dasharray" => "60 40", "stroke-dashoffset" => "25", "stroke-width" => "3"}
                %g.chart-text
                  %text.chart-number{:x => "50%", :y => "50%"}
                  %text.chart-label{:x => "50%", :y => "50%"}
                    #{subject['completion_rate']}
                  %text.chart-end{:x => "50%", :y => "50%"}
                    Completion-rate
              .mdl-grid
                .mdl-cell.mdl-cell--4-offset.mdl-cell--4-col
                  %button#update.btn-subject.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.col-10.mdl-button--colored{:type => "button"} Update
            .back
              %ul.icons.mdl-list
                -subject["schedules"].each do |schedule|
                  %li.mdl-list__item
                    %span.mdl-list__item-primary-content
                      = schedule["day"] + ", " + schedule["start_time"] + " to " + schedule["end_time"]