= javascript_include_tag params[:controller]
= stylesheet_link_tag params[:controller]
%body
.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  %header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
    .mdl-layout__header-row
      %span.mdl-layout-title Home
      .mdl-layout-spacer
  .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
    %header.demo-drawer-header
      %img.demo-avatar{:src => "images/user.jpg"}/
      .demo-avatar-dropdown
        %span= @current_user.first_name + " " + @current_user.last_name
        .mdl-layout-spacer
    %nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
      %a.mdl-navigation__link{:href => ""}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> home
        Home
      %a.mdl-navigation__link{:href => ""}
        %i.m-dl-color-text--blue-grey-400.material-icons{:role => "presentation"}> calendar_today
        Calendar
      %a.mdl-navigation__link{:href => "/setup/index"}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> settings
        Setup
      %a.mdl-navigation__link{:href => ""}
        %i.mdl-color-text--blue-grey-400.material-icons{:role => "presentation"}> info
        About
  %main.mdl-layout__content.mdl-color--grey-100
    .mdl-grid.demo-content
      -id = 0
      - @out_subjects.each do |subject|
        -id = id + 1
        -subject_id = id.to_s
        .card-container{:id => 'card-container-'+subject_id}
          .card{:id => 'card-'+subject_id}
            .card_face.front{:id => 'front-'+subject_id}
              .cover{:id => 'cover-front'+subject_id}
                .mdl-grid
                  .mdl-cell
                    %h4{:id => 'heading-front-'+subject_id}= subject['name']
              %svg.donut{:id => 'left-graph-'+subject_id, :height => "50%", :viewbox => "0 0 42 42", :width => "40%"}
                %circle.donut-hole{:id => 'left-donut-hole-'+subject_id, :cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954"}
                %circle.donut-ring{:id => 'left-donut-ring-'+subject_id, :cx => "21", :cy => "21", :fill => "#fff", :r => "15.91549430918954", :stroke => "#d2d3d4", "stroke-width" => "3"}
                %circle.donut-segment{:id => 'left-donut-segment-'+subject_id, :cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954", :stroke => "#ce4b99", "stroke-dasharray" => "50 50", "stroke-dashoffset" => "25", "stroke-width" => "3"}
                %g.chart-text{:id => 'left-chart-text-'+subject_id}
                  %text.chart-number{:id => 'left-chart-number-'+subject_id, :x => "50%", :y => "50%"}
                  %text.chart-label{:id => 'left-chart-label-'+subject_id, :x => "50%", :y => "50%"}
                    #{subject['completion_rate']}
                  %text.chart-end{:id => 'left-chart-end-'+subject_id, :x => "50%", :y => "50%"}
                    Completion-time
    
    
              %svg.donut{:id => 'right-graph-'+subject_id, :height => "50%", :viewbox => "0 0 42 42", :width => "40%"}
                %circle.donut-hole{:id => 'right-donut-hole-'+subject_id, :cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954"}
                %circle.donut-ring{:id => 'right-donut-ring-'+subject_id, :cx => "21", :cy => "21", :fill => "#fff", :r => "15.91549430918954", :stroke => "#d2d3d4", "stroke-width" => "3"}
                %circle.donut-segment{:id => 'right-donut-segment-'+subject_id, :cx => "21", :cy => "21", :fill => "transparent", :r => "15.91549430918954", :stroke => "#ce4b99", "stroke-dasharray" => "60 40", "stroke-dashoffset" => "25", "stroke-width" => "3"}
                %g.chart-text{:id => 'right-chart-text-'+subject_id}
                  %text.chart-number{:id => 'right-chart-number-'+subject_id, :x => "50%", :y => "50%"}
                  %text.chart-label{:id => 'right-chart-label-'+subject_id, :x => "50%", :y => "50%"}
                    #{subject['completion_rate']}
                  %text.chart-end{:id => 'right-chart-end-'+subject_id, :x => "50%", :y => "50%"}
                    Completion-rate
              .mdl-grid.update-btn-container
                .mdl-cell.mdl-cell--4-col
                  %button.btn-update.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-cell--10-col.mdl-button--colored{:id=>"update" + subject_id, :type => "button"} Update
            .card_face.back{:id => 'back-'+subject_id}
              =render partial: "dashboard/partials/back_card", locals: {schedules: subject["schedules"], name: subject['name'], subject_id: subject_id}