= form_for @session do |f|
  - if @session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@session.errors.count, "error")} prohibited this session from being saved:"
      %ul
        - @session.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .actions
    = f.submit 'Save'
