%h1 Listing sessions

%table
  %thead
    %tr
      %th Name
      %th Start time
      %th
      %th
      %th

  %tbody
    - @sessions.each do |session|
      %tr
        %td= session.name
        %td= session.start_time
        %td= link_to 'Show', session
        %td= link_to 'Edit', edit_session_path(session)
        %td= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Session', new_session_path
